/* let's imagine that we are developing some theming library anf let's prefix related classes with `ct-` which reflects `custom theme` */

:root {
  --primary-text-color: #051748;
  --secondary-text-color: #056a6d;
  --primary-bg-color: #c3cff6;
  --secondary-bg-color: #b8f2f3;
  --primary-bg-color-active: #a4afd3;
  --secondary-bg-color-active: #99cbcc;
}

/* so below we providing helper classes */

.ct-button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: var(--primary-bg-color);
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
}

.ct-button:hover {
  background-color: var(--primary-bg-color-active);
}

.m, .p {
  padding: 1rem;
}

.m-x, .p-x {
  padding: 2rem;
}

.m-s, .p-s {
  padding: 0.5rem;
}
